.wp_block-quote{
    color: gray;
}

.wp-block-quote.is-style-fancy-quote{
    color: red;
}
.entry-content > *{
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
}

.alignwide{
    max-width: 1200px;
}

.alignfull{
    max-width: 100%;
}

.wp-block-image{
    border-radius: 15px;
  max-width: 1000px;
  text-align: center;
}

.wp-block-separator.is-style-wide{
    border-bottom-width: 5px;
    color: red;
}

.wp-block-calendar table th{
    background-color: red;
}

.wp-block-calendar tbody td, .wp-block-calendar th{
    text-align: left;
}

.entry-title{
    text-align: center;
    margin-top: 50px;
}

.site-title a{
    color: white;
    font-weight: bolder;
    font-size: 50px;
}
.site-title a:visited{
    color: white;
    font-weight: bolder;
    font-size: 50px;
}
.site-title a:link{
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

.site-description{
    color: red;
}

.entry-content{
    color: gray;
}

#primary-menu{
    margin-right: auto;
    margin-left: auto;
    background-color: black;
    color: white;
}

.menu{
    text-align: center;
    padding-left: 20px;

}

#wp-block-search__input-1{
    border-color: red;
    width: 70%;
    text-align: center;
} 

.wp-block-search__button  {
    
    border-color: red;
    height: 40px;
    border-radius: 15px;

}

.wp-block-search__label{
    text-align: center;
    font-size: 17px;
    color: gray;
}

.menu a{
    color: white;
    padding: 0px 25px 0px 25px;
}

.wp-block-pages-list__item{
    background-color: gray;
    width: 100%;
    margin: 0%;
    padding-top: 15px;
    padding-bottom: 10px;
    
}



.menu a:visited{
    text-align: center;
    color: white;
}

.menu a:link{
    text-align: center;
    color:white;
}

.wp-block-pages-list__item__link{
    list-style: none;
    display: inline;
    text-align: center;
    color: white;
   
}
.wp-block-pages-list__item__link:link{
    list-style: none;
    display: inline;
    text-align: center;
    color: white;
   
}

.wp-block-pages-list__item__link:visited{
    list-style: none;
    display: inline;
    text-align: center;
    color: white;
   
}

.wp-block-search__inside-wrapper {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.widget-area{
    width: 100%;
    list-style: none;
    display: inline;
    text-align: center;
    background-color: gray;
    color: white;
}

.site-info{
    background-color: red;
    color: white;
    text-align: center;
    padding: 15px;
    margin-bottom: 0;
}

.site-info a:link{
    color: white;
}

.site-info a:visited{
    color: white;
}

.site-branding{
    background-color: black;
    text-align: center;
    padding: 20px;
}